.h1:hover{
    background-color: #ff0101;
    
}
.card{
    background-color:white ;
    width: 30%;
    min-height: 300px;
    margin-left: 36%;
    border: 5px solid black ;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom:40px;
}
.trans:hover{
    background: rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(113, 113, 113);
    transform: scale(2.5);
}
.p1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1;
}
